/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

@font-face {
  font-family: BigJohnPRO;
  src: url("./asset/font/BigJohnPRO-Regular.otf") format("opentype");
}

@font-face {
  font-family: BigJohnPRO;
  font-weight: bold;
  src: url("./asset/font/BigJohnPRO-Bold.otf") format("opentype");
}

@font-face {
  font-family: BigJohnPRO;
  font-weight: lighter;
  src: url("./asset/font/BigJohnPRO-Light.otf") format("opentype");
}

@font-face {
  font-family: Monstserrat;
  src: url("./asset/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Monstserrat;
  font-weight: bold;
  src: url("./asset/font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Monstserrat;
  font-weight: bolder;
  src: url("./asset/font/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Monstserrat;
  font-weight: lighter;
  src: url("./asset/font/Montserrat-ExtraBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* overflow-x: hidden; */
  width: 100vw;
}
body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
/* html{
    
    font-family: 'Montserrat', sans-serif;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  /* user-drag: none;  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.magic,
.magic div,
.magic a,
.magic svg,
.magic path,
.magic .decor,
.magic *,
.magic h1 .mauapa {
  cursor: url("./asset/mouse.png"), auto;
}
