html.games-app {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html.games-app {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html.games-app {
    font-size: 24px;
  }
}

/*# sourceMappingURL=responsive-font.css.map */
